<div class="nav">
  <div class="nav-lg nav-container container">
    <a class="nav-link nav-brand" href="/">{{ site.name }}</a>
    <a class="nav-link nav-toggle">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-lg fa-bars"></i>
    </a>
    <div class="nav-links">
      <ul>
        <li><a class="nav-link" href="/">Posts</a>
        <li><a class="nav-link" href="/about/">About</a>
        <li><a class="nav-link" href="http://github.com/dylanvann">
              <i class="fa fa-lg fa-github"></i>
              <span class="sr-only">Github</span>
            </a>
        <li><a class="nav-link" href="http://twitter.com/atomarranger">
              <i class="fa fa-lg fa-twitter"></i>
              <span class="sr-only">Twitter</span>
            </a>
      </ul>
    </div>
  </div>
</div>

{% if page.header-image %}
{% include header-image.html %}
{% endif %}
