@import "compass/reset/utilities";
@import "compass/css3/transition";

@import "bootstrap-variables";
@import "bootstrap";

@import "syntax";

$header-color: #000;
$dark-text-color: #333;
$text-muted: #777;

$accent-color: #428bca;

$breakpoint: 500px;

$body-font: 'Roboto', "Helvetica Neue",Helvetica,Arial,sans-serif;

.post ul ul {
  margin-bottom: 0px;
}

.post .video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  padding-top: 0;
  height: 0;
}

.post .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post-github {
  padding: 6px;
  display: inline-block;
  color: $accent-color;
  border: 1px solid #000;
  border-color: $accent-color;
  @include transition-property(all);
  @include transition-duration(0.2s);
  &:hover {
    color: darken($accent-color, 25);
    border-color: darken($accent-color, 25);
    @include transition-property(all);
    @include transition-duration(0.2s);
  }
}

// Prevent center jumping.
// Always show right scroll bar.
html {
  overflow-y: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

@mixin word-wrap() {
  word-break:     break-word;
  -webkit-hyphens: auto;
  -moz-hyphens:    auto;
  hyphens:         auto;
}

body {
  background: lighten(#efefef,50);
  background: #efefef;
  background: lighten(#efefef,5);
  font-family: $body-font;
  font-weight: 300;
  font-size: 16px;
}

img, video, .full-width {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.post img, .post video, .post .video, .post .highlight, .post p, .post ul {
  margin-bottom: 20px;
}

.post img, .post video, .post .video, .post .cp_embed_iframe {
  margin: 20px auto;
  box-shadow: 0 0 10px 0 rgba(black, 0.4);
}

.canvasContainer {
    display:block;
    width:100%;
    // height:300px;
}

.container {
  max-width: 750px;
  padding: 0 15px;
}

.container-fluid {
  padding: 0;
}

a {
  @include transition-property(color);
  @include transition-duration(0.2s);
  &:hover, &:active, &:focus {
    text-decoration: none;
    outline: none;
  }
  &:hover {
    @include transition-property(color);
    @include transition-duration(0.2s);
  }
}

.post .caption {
  text-align: center;
  color: $text-muted;
}

// -------------------------------------
//  ~Links
// -------------------------------------

a {
  text-decoration: none;
}

// -------------------------------------
//  ~Navbar
// -------------------------------------

$nav-height: 50px;
$nav-height-sm: 30px;

body {
  padding-top: $nav-height;
}

.nav {
  -webkit-transform: translateZ(0);
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(black, 0.1);
  font-weight: 300;
}

.nav-container {
  @include transition-property(min-height, line-height);
  @include transition-duration(0.2s);
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav .nav-brand, .nav .nav-link {
  float: left;
}

.nav .nav-toggle {
  float: right;
  display: none;
}

.nav-collapsed .nav-link {
  clear: both;
}

.nav-lg {
  line-height: $nav-height;
  min-height: $nav-height;
}

.nav-sm {
  line-height: $nav-height-sm;
  min-height: $nav-height-sm;
}

.nav .nav-header .nav-brand {
  padding: 0;
  padding-right: 15px;
  margin: 0;
}

.nav .nav-header .nav-toggle {
  margin: 0;
  padding: 0 15px;
}

.nav a {
  padding: 0 10px;
  color: $dark-text-color;
  text-decoration: none;
  @include transition-property(color);
  @include transition-duration(0.2s);
  &:hover {
    color: $accent-color;
    @include transition-property(color);
    @include transition-duration(0.2s);
    background: none;
}
}

@media (min-width: $breakpoint) {
  .nav-collapse {
    display: block!important;
    height: auto!important;
    visibility: visible!important;
  }
}

@media (max-width: $breakpoint) {
  .nav-links {
    clear: both;
    display: none;
  }
  .nav li {
    display: block;
    height: $nav-height;
  }
  .nav ul .nav-link {
    width: 100%;
    margin:0;
    padding:0;
    height: $nav-height;
    text-align: center;
  }
  .nav .nav-toggle {
    display: block;
  }
}





// -------------------------------------
//  ~Post
// -------------------------------------

.tag-title {
  text-align: center;
  font-family: "Raleway", "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-weight: 900;
  padding-bottom: 20px;
  margin-bottom: 60px;
  color: $dark-text-color;
  font-size: 24px;
  border-bottom: 1px solid #eee;
}

.tag-intro {
  text-align: center;
  font-family: "Raleway", "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-weight: 300;
  color: $dark-text-color;
  font-size: 16px;
  margin-top: 60px;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
  @include clearfix;
}

.posts-archive .post  {
  margin: 20px 0;
}

.post {
  margin-top: 20px;
  margin-bottom: 200px;
}

$title-color: lighten($dark-text-color, 10%);
.post-title, .post-title a {
  @include word-wrap();
  font-family: "Raleway", "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
  color: $title-color;
  @include transition-property(color);
  @include transition-duration(0.2s);
  &:hover {
    color: #000;
    @include transition-property(color);
    @include transition-duration(0.2s);
  }
}
.post-subtitle {
  @include word-wrap();
  font-family: "Raleway", "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
  color: $title-color;
}

.post .post-date {
  font-family: "Raleway", "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-weight: 400;
  color: $text-muted;
  font-size: 16px;
}

.post header {
  text-align: center;
  margin-bottom: 20px;
}

.post footer {
  margin-top: 20px;
}

.post-tags {
  text-align: center;
  color: $text-muted;
}

.post-tag { // main body of tag
  font-family: "Raleway", "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $text-muted;
  &:hover {
    color: darken($text-muted, 60);
  }
}

.post header a {
  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.post {
  font-size: 16px;
  line-height: 26px;
}

.comments {
  padding: 20px 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

// -------------------------------------
//  ~Page
// -------------------------------------

.header-image {
  margin-bottom: 20px;
}

// --------------------------------------------------
//  ~Projects Page
// --------------------------------------------------

.project {
  text-align: center;
  padding: 20px 0;
}

.project p {
  margin: 0 auto;
  max-width: 500px;
}

.project a {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  color: #333;
  @include transition-property(background);
  @include transition-duration(0.5s);
  background: rgba(0,0,0,0.1);
  text-transform: uppercase;
  &:hover {
    background: rgba(0,0,0,0.2);
    text-decoration: none;
}
}

.project h1 {
  font-size: 24px;
  font-family: "Raleway", "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-weight: 600;
  text-align: center;
}

.project h2 {
  font-size: 16px;
  text-align: center;
}

.project-dark {
  color: #333;
}
.project-dark a{
  color: #333;
  background: rgba(0,0,0,0.15);
  &:hover {
    color: #fff;
    background: #000;
}
}
.project-dark video {
  border: 6px solid #000;
}

.project-light {
  color: #fff;
}
.project-light a {
  color: #fff;
  background: rgba(255,255,255,0.15);
  &:hover {
    color: #000;
    background: #fff;
}
}
.project-light video {
  border: 6px solid #fff;
}

$alien-rampage-color: hsl(105, 30%, 40%);
$alien-rampage-color: hsl(105, 45%, 53%);
.project-alien-rampage {
  background: $alien-rampage-color;
}
.project-alien-rampage a {
  &:hover {
    color: $alien-rampage-color;
}
}

$beginit-color: hsl(182, 30%, 40%);
$beginit-color: hsl(182, 79%, 46%);
.project-beginit {
  background: $beginit-color;
}
.project-beginit a {
  &:hover {
    color: hsl(182, 79%, 46%);
    color: $beginit-color;
}
}

.project-others {
  background: #000;
}

// -------------------------------------
// ~Sticky footer styles
// -------------------------------------

$footer-height: 40px;

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
}

.footer-content {
  line-height: $footer-height - 1;
  text-align: center;
  background: #e7e7e7;
  border-top: 1px solid #e0e0e0;
}

.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;

  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

.navigation {
  padding: 44px 0;
  text-align: center;
}

blockquote {
  border-left: 6px solid #ccc;
  background: #eee;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
}
blockquote:after {
  visibility: hidden;
  content: close-quote;
  display: block;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

blockquote cite {
  color: #999999;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
